body {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $color-blue;
    margin-bottom: 3rem;
}

.h3--cyan {
    color: $color-cyan;
}

.h3--gray {
    color: $color-gray;
}


p {
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $color-white;
}